*{
    font-family: 'Inter', sans-serif;
}

h1{
    display: inline;
}

.home-btn-container{
    width: 70%;
}

.home-btn{
    float: right;
}

.form-input{
    width: 70%;
}

.form-check{
    display: inline;
    min-height: 0;
    margin-top: 0.7rem;
    margin-right: 0.5rem;
}

.login{
    margin-top: 5%;
}

.link-btn{
    margin-right: 2rem;
    width: 8rem;
}

.logout{
    margin-top: 10%;
}